<form method="post" action="/items/store"> 
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="name">Slug</label>
    <input type="text" name="slug" class="form-control" id="slug" aria-describedby="emailHelp" placeholder="Enter slug">
  </div>
   <div class="form-group">
    <label for="name">Color</label>
    <input type="text" name="color" class="form-control" id="color" aria-describedby="emailHelp" placeholder="Enter color">
  </div>
   <div class="form-group">
    <label for="name">Size</label>
    <input type="text" name="size" class="form-control" id="size" aria-describedby="size" placeholder="Enter size">
  </div>
  <div class="form-group">
    <label for="name">Quantity</label>
    <input type="text" name="quantity" class="form-control" id="quantity" aria-describedby="quantity" placeholder="Enter quantity">
  </div>
  <div class="form-group">
    <label for="name">Thumb nail</label>
    <input type="text" name="thumbNail" class="form-control" id="thumbNail" aria-describedby="thumbNail" placeholder="Enter thumbNail">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>