<div class="card mb-3">
  <img class="card-img-top item-detail__image" src="{{shoes.thumbNail}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{shoes.name}}</h5>
    <p class="card-text">Color {{shoes.color}}</p>
    <p class="card-text">Size {{shoes.size}}</p>
  </div>
</div>