<div class="d-flex justify-content-center align-items-center">
    <form method="post">
        <div class="form-group">
            <label for="searchLabel">Searching something</label>
            <input type="text" name="keySearch" class="form-control" id="searchInput" placeholder="Type your product!!!">
        </div>
        <div class="form-group">
            <label for="searchLabel">Type your name</label>
            <input type="text" name="fullName" class="form-control" id="searchInput" placeholder="Your name">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>